In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [15]:
Iris=pd.read_csv('/content/iris.csv')
Iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [12]:
Iris.shape

(0, 159)

In [13]:
Iris.shape[0]

0

In [14]:
Iris.shape[1]

159

In [16]:
avg_petallength=Iris["petal.length"].mean()
print("average of petal length",avg_petallength)

average of petal length 3.7580000000000005

In [17]:
avg_sepallength=Iris["sepal.length"].mean()
print("average of sepal.length",avg_sepallength)

average of sepal.length 5.843333333333334

In [20]:
avg_sepalwidth=Iris["sepal.width"].mean()
print("average of sepal.width",avg_sepalwidth)

average of sepal.width 3.0573333333333337

In [21]:
avg_petalwidth=Iris["petal.width"].mean()
print("average of petal.width",avg_petalwidth)

average of petal.width 1.1993333333333336

compute the average of all numerical column

In [28]:
print("average of sepal length = ",Iris['sepal.length'].mean())
print("average of sepal width = ",Iris['sepal.width'].mean())
print("average of petal length = ",Iris['petal.length'].mean())
print("average of petal width = ",Iris['petal.width'].mean())

average of sepal length =  5.843333333333334
average of sepal width =  3.0573333333333337
average of petal length =  3.7580000000000005
average of petal width =  1.1993333333333336

Extract the petal length outlies(i.e those rows whose petal length is 50% from the average petal length)

In [29]:
Iris.iloc[5]

sepal.length       5.4
sepal.width        3.9
petal.length       1.7
petal.width        0.4
variety         Setosa
Name: 5, dtype: object

In [33]:
print(Iris['petal.length']>50%(avg_petallength))

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: petal.length, Length: 150, dtype: bool

Compute the SD of all columns of each iris species

In [34]:
print("standard deviation  of sepal length = ",Iris['sepal.length'].std())
print("standard deviation of sepal width = ",Iris['sepal.width'].std())
print("standard deviation of petal length = ",Iris['petal.length'].std())
print("standard deviation of petal width = ",Iris['petal.width'].std())

standard deviation  of sepal length =  0.828066127977863
standard deviation of sepal width =  0.4358662849366982
standard deviation of petal length =  1.7652982332594662
standard deviation of petal width =  0.7622376689603465